@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

@import "tailwindcss";


/* Define custom theme variables */
@theme {
  /* Font Sizes */
  --font-size-xs: 12px;
  --line-height-xs: 16px;
  --font-size-sm: 14px;
  --line-height-sm: 20px;
  --font-size-base: 16px;
  --line-height-base: 19.5px;
  --font-size-lg: 18px;
  --line-height-lg: 21.94px;
  --font-size-xl: 20px;
  --line-height-xl: 24.38px;
  --font-size-2xl: 24px;
  --line-height-2xl: 29.26px;
  --font-size-3xl: 28px;
  --line-height-3xl: 50px;
  --font-size-4xl: 48px;
  --line-height-4xl: 58px;
  --font-size-8xl: 96px;
  --line-height-8xl: 106px;

  /* Font Families */
  --font-palanquin: 'Palanquin', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;

  /* Colors */
  --color-primary: #ECEEFF;
  --color-coral-red: #FF6452;
  --color-slate-gray: #6D6D6D;
  --color-pale-blue: #F5F6FF;
  --color-white-400: rgba(255, 255, 255, 0.80);

  /* Box Shadows */
  --shadow-3xl: 0 10px 40px rgba(0, 0, 0, 0.1);

  /* Background Images */
  --background-hero: url('assets/images/collection-background.svg');
  --background-card: url('assets/images/thumbnail-background.svg');

  /* Breakpoints */
  --screen-wide: 1440px;
}

/* Global Styles */
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Component Styles */
@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .input {
    @apply sm:flex-1 max-sm:w-full text-base leading-normal text-[var(--color-slate-gray)] pl-5 max-sm:p-5 outline-none sm:border-none border max-sm:border-[var(--color-slate-gray)] max-sm:rounded-full;
  }
}

/* Utility Styles */
@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply font-[var(--font-montserrat)] text-[var(--color-slate-gray)] text-lg leading-7;
  }
}
